.form {
  text-align: right;
}

.form button {
  font: inherit;
  cursor: pointer;
  background-color: #61aca4;
  border: 1px solid #85b4af;
  color: white;
  padding: 0.25rem 2rem;
  border-radius: 20px;
  font-weight: bold;
}

.form button:hover,
.form button:active {
  background-color: #4c706d;
  border-color: #4c706d;
}